// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_index {
  max-width: 980px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .left {
    min-height: 100%;
    border-right: 2px solid black;
    padding: 10px;
    ul {
      li {
        margin: 5px 0;
      }
      li:nth-child(even) {
        background-color: #FBEFF8;
      }
      li:nth-child(odd) {
        background-color: #F5A9E1;
      }
    }
    a {
      font-size: 1.2rem;
      margin: 0.4rem 0;
    }
  }
  .right {
    width: 100%;
    text-align: left;
    padding: 10px;
    ul.rooms {
      li {
        margin-bottom: 10px;
        a {
          text-decoration: none;
        }
        p.room_title {
          font-size: 1.2rem;
          margin: 0.4rem 0;
          display: inline-block;
          color: #08088A;
        }
        p.room_category {
          font-size: 1rem;
          color: #D8D8D8;
          display: inline-block;
        }
      }
      li:nth-child(even) {
        background-color: #E0F2F7;
      }
      li:nth-child(odd) {
        background-color: #CEF6F5;
      }
    }
  }
}

.category_show {
  max-width: 680px;
  margin: 0 auto;
  min-height: 100%;
}