// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room_show {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .messages {
    width: 100%;
    background-color: #08088A;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-bottom: 12vh;
    .message_area {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      .thumbnail {
        display: inline-block;
        width: 300px;
        height: 17px;
        background-color: #08088A;
        margin-right: 10px;
        flex-shrink: 1;
        color: white;
        font-size: 0.8rem;
        .uuid {
          font-size: 0.6em;
          color: #E6E6E6;
        }
      }
      .message {
        background-color: white;
        padding: 5px;
        border-radius: 1rem;
        margin: 5px 0;
        flex-shrink: 40;
        max-width: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .master_chat {
      align-items: flex-end;
      .thumbnail {
        text-align: right;
        display: inline-block;
        width: 300px;
        height: 17px;
        background-color: #08088A;
        margin-right: 10px;
        flex-shrink: 1;
        color: white;
        font-size: 0.8rem;
      }
      .message {
        background-color: #A9F5F2;
        padding: 5px;
        border-radius: 1rem;
        margin: 5px 0;
        flex-shrink: 40;
      }
    }
  }
  .input_area {
    padding: 0 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 11.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    .upper {
      width: 100%;
      text-align: left;
      #username {
        width: 200px;
        border: solid 1px #ccc;
      }
    }
    .lower {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #textarea {
        width: 80%;
        height: 41px;
        padding: 10px;
        font-size: 1em;
        font-family: Arial, sans-serif;
        border: solid 1px #ccc;
        border-radius: 3px;
      }
      #send_button {
        width: 17%;
      }
    }
  }
}