// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_index {
  a {
    font-size: 1.2rem;
    margin: 0.4rem 0;
  }
}

.category_show {
  ul.rooms {
    li {
      p {
        font-size: 1.2rem;
        margin: 0.4rem 0;
      }
    }
    li:nth-child(even) {
      background-color: #E0F8F1;
    }
    li:nth-child(odd) {
      background-color: pink;
    }
  }
}