// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_index {
  ul {
    li {
      margin: 5px 0;
    }
    li:nth-child(even) {
      background-color: #FBEFF8;
    }
    li:nth-child(odd) {
      background-color: #F5A9E1;
    }
  }
  a {
    font-size: 1.2rem;
    margin: 0.4rem 0;
  }
}

.category_show {
  ul.rooms {
    li {
      p {
        font-size: 1.2rem;
        margin: 0.4rem 0;
      }
    }
    li:nth-child(even) {
      background-color: #E0F2F7;
    }
    li:nth-child(odd) {
      background-color: #CEF6F5;
    }
  }
}